<label  id="aulas" class="tituloEdicao">Aulas</label>
<form novalidate name="meuForm" ng-submit="incluir()" class="form-style-5 partAula">
  <div class="row">
    <div class="form-group col-md-10">
      <label for="nome">Adicione uma aula</label>
      <input type="text" name="nome" ng-model="novaAula.nome" required ng-minlength="3" ng-maxlength="20" placeholder="Banco de Dados">
      <span ng-show="mostrarAvisoAula">Aula já cadastrada!</span>
      <span  ng-show="meuForm.nome.$error.minlength">Nome curto! </span>
      <span  ng-show="meuForm.nome.$error.maxlength">Nome muito longo!!</span>
      <span ng-show="meuForm.nome.$error.required"> * </span>
    </div>
      <button class="btn btn-success" type="submit">Adicionar</button>

  </div>
</form>
<br><hr>
<form novalidate name="formEditarAula" ng-submit="editarAula(editarAula.index)" class="form-style-5 partAula">
  <label>Edite uma Aula</label>
      <select class="ui search dropdown" ng-model="editarAula.index" required>
          <option value="" disabled hidden>Selecione a aula</option>
          <option class="item" ng-repeat="item in aulas track by $index" value="{{$index}}">{{item.nome}}</option>
      </select>
      <br>
      <input type="text" name="nomeEditado" ng-model="nomeEditado" class="editarAula">
      <br>
  <button type="submit" class="btn btn-info"> Editar </button>
</form>
<br><hr>
<form novalidate name="formExcluirAula" ng-submit="excluirAula(removerAula.index)" class="form-style-5 partAula">
  <label>Remova uma Aula</label>
      <select class="ui search dropdown" ng-model="removerAula.index" required>
          <option value="" disabled hidden>Selecione a aula</option>
          <option class="item" ng-repeat="item in aulas track by $index" value="{{$index}}">{{item.nome}}</option>
      </select>
      <br>
  <button type="submit" class="btn btn-danger"> Excluir </button>
</form>
<table class="table table-striped table-bordered table-hover table-condensed tabela">
  <thead class="tabelaTitulo">
      <tr>
          <th>Aula</th>
          <th>Id</th>
      </tr>
  </thead>
  <tbody class="tabelaCorpo">
      <tr ng-repeat="aula in aulas | orderBy: 'id'">
          <td>{{aula.nome}}</td>
          <td>{{aula.id}}</td>
      </tr>
  </tbody>
</table>
<hr>
