<div class="container">

    <div ng-if="valorTotal">
       <h3>Preço total da reserva: {{devolvida.ValorTotalReal}}</h3>
       <button ng-click="valorTotal()">Ok</button>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
            <th>#</th>
            <th>Cliente</th>
            <th>Produto</th>
            <th>Pacote</th>
            <th>Devolucao</th>
            <th>Data Pedido</th>
            <th>Dias atrasados</th>
            <th>Preço original da reserva</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="reserva in atrasadas">
            <td>{{reserva.Id}}</td>
            <td>{{reserva.Cliente.Nome}}</td>
            <td>{{reserva.Produto}}</td>
            <td>{{reserva.Pacote.Nome}}</td>
            <td>{{reserva.DataDevolucaoPrevista | date : "dd/MM/yyyy"}}</td>
            <td>{{reserva.DataPedido | date : "dd/MM/yyyy"}}</td>
            <td>{{reserva.DiasAtrasados}}</td>
            <td>{{reserva.ValorTotal}}</td>
            </tr>
            <tr>
        </tbody>
    </table>
</div>
