<div class="container"> 
    <div class="row">   
        <button  type="button" class="btn btn-success">
            <a href="#!/login">Logar</a>
        </button>
        <button class="btn btn-danger" ng-click="auth.logout()" ng-show="botaoLogout"> Logout</button>
    </div>  
    <hr>
    <div class="row"> 
        <button class="btn btn-success" ng-click="irParaVendo()">Criar Reserva</button>
        <button class="btn btn-danger">Reservas Atrasadas</button>
        <button class="btn btn-danger" ng-if="gerente">Relatorio Mensal</button>
    </div>
</div>
