<div class="container">
    <div class="lancamentos row">
        <div>
            <div ng-repeat="livro in livrosLancamentos" class="pull-left col-md-6 border">
                <img ng-src="{{livro.Capa}}" width="110px" class="centerImg">
                    <div class="infos">
                        <h4>{{livro.Titulo}}</h4>
                    <h5>{{livro.NomeAutor}}</h5>
                    </div>
                
            </div>
        </div>        
    </div>
    <br> <hr>
    <div class="outrosLivros row">
        <div class="pull-left col-md-3 border" ng-repeat="livro in livros">
             <img ng-src="{{livro.Capa}}" alt="" width="110px" class="centerImg">
              <div class="infos">
                        <h4>{{livro.Titulo}}</h4>
                    <h5>{{livro.NomeAutor}}</h5>
            </div>
        </div>
    </div>
</div> 
    