<nav class="menu">
    <div class="profile">
        <div class="profile-image"></div>
        <span class="profile-name">Olá {{user.nome}}!</span>
    </div>

    <ul class="menu-items">
        <li class="menu-item">
            <a class="menu-link" href="#!/perfil">
                <!--<img src="icons/letter.svg" alt="">-->
                Perfil
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#!/home">
                <!--<img src="icons/home.svg" alt="">-->
                Home
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link active" href="#">
                <!--<img src="icons/question.svg" alt="">-->
                Amigos
            </a>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="publicar clearfix">
        <form class="">
            <div class="form-group">
                <label for="">Procure um amigo</label>
                <input type="text" class="" placeholder="joao felipe" ng-model="stringBusca">
                <button type="submit" class="btn btn-default" ng-click="buscar(stringBusca)">Procurar</button>
            </div>
            <div  ng-if="mostraResultado">
                <div class="amigo pull-left" ng-repeat="amigo in resultadoBusca">
                    <div class="infos">
                        <h4 class="titulo">{{amigo.nome}}</h4>
                        <button type="submit" class="btn btn-info" ng-click="solicitar(amigo.idusuario)">Enviar solicitação</button>
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>

    <div class="publicar clearfix ">
        <div class="amigo pull-left" ng-repeat="amigo in amigos">
            <div class="infos">
                <h4 class="titulo">{{amigo.nome}}</h4>
                <p>Email: {{amigo.email}}</p>
                <!--<p>Aniversario: {{new Date(amigo.datanascimento)}}</p>-->
                <p>Organização: {{amigo.organizacao}}</p>
                <p>Nick Lol: {{amigo.nick}}</p>
            </div>
            <br>
        </div>
    </div>
</div>