<div class="corpo">
    <div class="cadastro">
        <img src="http://www.freeiconspng.com/uploads/league-of-legends-icon-5.png" alt="">
        <form novalidate name="formLogin">
            <label for="user">Qual seu nome?</label><br>
            <input type="text" name="user" value="" placeholder="Marilene da Silva" ng-model="user.nome" required><br>
            
            <label for="idade">Qual sua idade?</label><br>
            <input type="number" name="idade" value="" placeholder="17" ng-model="user.idade" required><br>

            <label for="email">Qual seu email?</label><br>
            <input type="email" name="email" value="" placeholder="marile@terra.com" ng-model="user.email" required><br>

            <label for="password">Digite sua senha</label><br>
            <input type="password" name="password" value="" placeholder="Senha" ng-model="user.password" required><br>

            <label for="org">Qual sua organização?</label><br>
            <input type="text" name="org" placeholder="Free Agent" ng-model="user.organizacao"><br>

            <label for="nick">Qual seu nick no LOL?</label><br>
            <input type="text" name="nick" value="" placeholder="TheMissFreak" ng-model="user.nick"><br>

            <label for="url">Insira a url da sua foto</label><br>
            <input type="text" name="url" value="" placeholder="Url da foto" ng-model="user.urlFoto">
            <br>
            <button type="submit" class="btn btn-login">Cadastrar</button>
            <br>
        </form>
    </div>
</div>