<nav class="menu">
    <div class="profile">
        <div class="profile-image"></div>
        <span class="profile-name">Olá {{user.nome}}!</span>
    </div>

    <ul class="menu-items">
        <li class="menu-item">
            <a class="menu-link" href="#!/perfil">
                Perfil
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link active" href="">
                Home
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#!/amigos">
                Amigos
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#!/pendentes">
                Convites
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" data-ng-click="logout()">
                Logout
            </a>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="publicar">
        <h2>Como foi seu jogo?</h2>
        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#collapse-compartilhar">Compartilhar experiência</button>
        <div id="collapse-compartilhar" class="collapse clearfix">
            <form class="form-group">
                <textarea class="form-control" rows="5" cols="120" ng-model="post.mensagem"></textarea>
                <button type="submit" class="btn btn-info pull-right pub-btn" ng-click="publicar()"> Publicar</button>
            </form>
        </div>
    </div>

    <div class="publicar">
        <div class="postagem" ng-repeat="post in posts | orderBy: post.data">
            <h4>{{post.idusuario.nome}} - {{post.idusuario.nick}}</h4>
            <hr>
            <!--<h6>{{post.data}}</h6>-->
            <p>{{post.mensagem}}</p>
            <button type="submit"ng-click="curtir(post.idpost)" class="btn btn-que" ng-disabled="curtido" >Curtir</button>
            <button type="submit"ng-click="descurtir(post.idpost)" class="btn btn-que" ng-disabled="descurtido">Descurtir</button>
            <br>
        </div>
    </div>
</div>