
    <div class="login">
        <img src="http://www.iconarchive.com/download/i80003/fazie69/league-of-legends/Ashe.ico" alt="">
        <form novalidate name="formLogin">
                <input type="email" name="user"  placeholder="Email" ng-model="user.email" required>
                
                <input type="password" name="password" placeholder="Senha" ng-model="user.senha" required>
               
            <br>
           <button type="submit" class="btn btn-login" ng-click="login(user)">Login</button>
           <br>
           <a class="link" href="#!/cadastrar">Inscreva-se!</a>
        </form>
    </div>
