<nav class="menu">
    <div class="profile">
        <div class="profile-image"></div>
        <span class="profile-name">Olá {{user.nome}}!</span>
    </div>

    <ul class="menu-items">
        <li class="menu-item">
            <a class="menu-link" href="#!/perfil">
                <!--<img src="icons/letter.svg" alt="">-->
                Perfil
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#!/home">
                <!--<img src="icons/home.svg" alt="">-->
                Home
            </a>
        </li>
        <li class="menu-item">
            <a class="menu-link active" href="#">
                Amigos
            </a>
        </li>
    </ul>
</nav>


<div class="container">
    <div class="publicar pendentes">
        <h2>Convites pendentes</h2>
    </div>
       <div class="publicar clearfix ">
            <div ng-if="mensagem">
                <h3>Você não tem novas solicitações...</h3>
            </div>
        <div class="amigo pull-left" ng-repeat="amizade in pendentes">
            <div class="infos">
                <h4 class="titulo">{{amizade.idsolicitante.nome}}</h4>
                <button type="submit" ng-click="aceitar(amizade)">Aceitar</button>
            </div>
            <br>
        </div>
    </div>
</div>