<div class="container">


			<nav class="menu">
				<div class="profile">
					<div class="profile-image"></div>
					<span class="profile-name">Olá {{user.nome}}!</span>
				</div>

				<ul class="menu-items">
					<li class="menu-item">
						<a class="menu-link  active" href="#!/perfil">
							Perfil
						</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="#!/home">
							Home
						</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="#!/amigos">
							Amigos
						</a>
					</li>
					<li class="menu-item">
						<a class="menu-link" href="#!/pendentes">
							Convites
						</a>
					</li>
				</ul>
			</nav>

			 <div class="publicar">
        <div class="informacoes">
            <h3><bold><em>{{userA.nome}}</em></bold></h3>
            <h4>Nick Lol: {{userA.nick}}</h4>
            <p>Email: {{userA.email}}</p>
            <p>Sexo: {{userA.sexo}}</p>
            <p>Organizacao: {{userA.organizacao}}</p>
        </div>
		<button type="submit" ng-click="alterar()">Alterar dados</button>
    </div>
    <div class="publicar">
        <div class="informacoes">
            <div class="postagem" ng-repeat="post in posts | orderBy: post.data">
            <h4>{{post.idusuario.nome}}</h4>
            <!--<h6>{{post.data}}</h6>-->
            <p>{{post.mensagem}}</p>
            <br>
        </div>
        </div>
    </div>
	</div>