<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>Formulário</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="style.css" rel="stylesheet">
        <script src="https://code.angularjs.org/1.6.4/angular.js"></script>
        <script src="controller.js"></script>
    </head>
    <body>
      <div class="container-fluid jumbotron">
        <h2>Exercicios fim de semana</h2>
      </div>
        <div ng-controller="mainController"  class="container">
          <nav class="menu">
            <ul class="menu-list">
              <li class="menu-item">
                <a href="#aulas" class="menu-link">Aulas</a>
              </li>
              <li class="menu-item">
                <a href="#instrutores" class="menu-link">Instrutores</a>
              </li>
            </ul>
          </nav>
          <form novalidate name="meuForm" ng-submit="incluir()" class="form-style-5">
            <div class="row">
              <div class="form-group col-md-10">
                <label for="nome" id="aulas">Adicione uma aula</label>
                <input type="text" name="nome" ng-model="novaAula.nome" required ng-minlength="3" ng-maxlength="20" placeholder="Banco de Dados">
                <span ng-show="mostrarAvisoAula">Aula já cadastrada!</span>
                <span  ng-show="meuForm.nome.$error.minlength">Nome curto! </span>
                <span  ng-show="meuForm.nome.$error.maxlength">Nome muito longo!!</span>
                <span ng-show="meuForm.nome.$error.required"> * </span>
              </div>
              <div class="form-group col-md-4">
                <button class="btn btn-primary" type="submit">Adicionar</button>
              </div>
            </div>
          </form>
          <br><hr>
          <form novalidate name="formEditarAula" ng-submit="editarAula(editarAula.index)" class="form-style-5">
            <label>Edite uma Aula</label>
                <select class="ui search dropdown" ng-model="editarAula.index" required>
                    <option value="" disabled hidden>Selecione a aula</option>
                    <option class="item" ng-repeat="item in aulas track by $index" value="{{$index}}">{{item.nome}}</option>
                </select>
                <br>
                <input type="text" name="nomeEditado" ng-model="nomeEditado">
            <button type="submit"> Editar </button>
          </form>
          <br><hr>
          <form novalidate name="formExcluirAula" ng-submit="excluirAula(removerAula.index)" class="form-style-5">
            <label>Remova uma Aula</label>
                <select class="ui search dropdown" ng-model="removerAula.index" required>
                    <option value="" disabled hidden>Selecione a aula</option>
                    <option class="item" ng-repeat="item in aulas track by $index" value="{{$index}}">{{item.nome}}</option>
                </select>
                <br>
            <button type="submit"> Excluir </button>
          </form>
          <table class="table table-striped table-bordered table-hover table-condensed tabela">
            <thead class="tabelaTitulo">
                <tr>
                    <th>Aula</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody class="tabelaCorpo">
                <tr ng-repeat="aula in aulas | orderBy: 'id'">
                    <td>{{aula.nome}}</td>
                    <td>{{aula.id}}</td>
                </tr>
            </tbody>
        </table>
          <div class="row">
                <div class="col-md-6">
                <label align="center" id="instrutores"> Adicione um instrutor</label>
                <form novalidate name="formInstrutor" ng-submit="incluirInstrutor()" class="form-style-5">

                    <label for="nome">Nome do instrutor</label>
                    <input name="nome" maxlength="20" minlength="3" type="text" ng-model="novoInstrutor.nome" required>
                    <span  ng-show="formInstrutor.nome.$error.minlength">Nome curto! </span>
                    <span  ng-show="formInstrutor.nome.$error.maxlength">Nome muito longo!!</span>
                    <span ng-show="formInstrutor.nome.$error.required"> * </span><br>

                    <label for="sobrenome">Sobrenome do instrutor</label>
                    <input name="sobrenome" maxlength="30" type="text" ng-model="novoInstrutor.sobrenome"><br>

                    <label for="idade">Idade</label>
                    <input name="idade" type="number" max="90" ng-model="novoInstrutor.idade" required>
                    <span ng-show="formInstrutor.idade.$error.required"> * </span><br>

                    <label for="email">Email</label>
                    <input name="email" type="email" ng-model="novoInstrutor.email" required>
                    <span ng-show="formInstrutor.email.$error.required"> * </span><br>

                    <label for="checkbox">Este instrutor esta dando aulas no CRESCER?</label>
                    <input class="checkbox" type="checkbox" ng-model="novoInstrutor.dandoAula" ng-true-value="'Sim'" ng-false-value="'Não'"><br>

                    <label for="instrutor">Selecione a aula dada pelo instrutor:</label>
                        <select  class="form-control" ng-model="novoInstrutor.aula" multiple>
                           <option ng-repeat="aula in aulas | orderBy: 'id'" value="{{ aula.id }}"> {{ aula.nome }} </option>
                       </select><br>


                    <label for="text">Foto do instrutor</label>
                    <input  class="form-control" type="text" ng-model="novoInstrutor.urlFoto"><br>

                    <button class="btn btn-primary" type="submit" name="nome">Adicionar</button>
                </form>
             </div>
           </div>
           <table class="table table-striped table-bordered table-hover table-condensed tabela">
             <thead class="tabelaTitulo">
                 <tr>
                     <th>ID</th>
                     <th>Nome</th>
                     <th>sobrenome</th>
                     <th>Idade</th>
                     <th>Email</th>
                     <th>Está dando aulas</th>
                     <th>ID aula lecionada</th>
                     <th>Foto</th>
                 </tr>
             </thead>
             <tbody class="tabelaCorpo">
                 <tr ng-repeat="instrutor in instrutores | orderBy: 'id'">
                     <td>{{instrutor.id}}</td>
                     <td>{{instrutor.nome}}</td>
                     <td>{{instrutor.sobrenome}}</td>
                     <td>{{instrutor.idade}}</td>
                     <td>{{instrutor.email}}</td>
                     <td>{{instrutor.dandoAula}}</td>
                     <td>{{instrutor.aula}}</td>
                     <td> <img src="{{instrutor.urlFoto}}" alt=""></td>
                     <td><button type="submit" name="buttonedit" ng-click="querEditar(instrutor)"> Editar </button></td>
                     <td><button class="btn btn-danger" type="submit" ng-click="querExcluir(instrutor)"> Excluir</button></td>
                 </tr>
             </tbody>
         </table>
         <div ng-show="clicouParaEditar">
           <div class="row">
                 <div class="col-md-3"></div>
                 <div class="col-md-6">
                 <h4 align="center"> Instrutores</h4>
                 <form novalidate name="formEditarInstrutor" ng-submit="editarInstrutor()">

                     <label for="nome">Nome do instrutor</label>
                     <input class="form-control" maxlength="20" minlength="3" type="text" ng-model="instrutorEditado.nome" required>

                     <label for="sobrenome">Sobrenome do instrutor</label>
                     <input class="form-control" maxlength="30" type="text" ng-model="instrutorEditado.sobrenome">

                     <label for="idade">Idade</label>
                     <input class="form-control" type="number" ng-model="instrutorEditado.idade" required>

                     <label for="email">Email</label>
                     <input class="form-control" type="email" ng-model="instrutorEditado.email" required>

                     <label for="checkbox">Este instrutor esta dando aulas no CRESCER?</label>
                     <input class="checkbox" type="checkbox" ng-model="instrutorEditado.dandoAula" ng-true-value="'Sim'" ng-false-value="'Não'">

                     <label for="instrutor1">Selecione a aula dada pelo instrutor:</label>
                         <select  ng-model="instrutorEditado.aula">
                           <option value="" disabled hidden>Selecione a aula</option>
                            <option ng-repeat="aula in aulas | orderBy: 'id'" value="{{ aula.id }}"> {{ aula.nome }} </option>
                        </select>
                     <label for="text">Foto do instrutor</label>
                     <input  class="form-control" type="text" ng-model="instrutorEditado.urlFoto">

                     <button class="btn btn-primary" type="submit" name="nome" ng-click="salvarInstrutor(instrutorEditado)">Salvar</button>
                 </form>
              </div>
            </div>
         </div>
        </div>
    </body>
</html>
