<div class="container">
    <div class="voltar">
  <button type="button" class="btn btn-link">
    <a href="#!/login">Login </a>
  </button>
</div>
    <h2>Lançamentos</h2>
    <div class="lancamentos row">
        <div>
            <div ng-repeat="livro in livrosLancamentos" class="pull-left col-md-6 border">
                <img ng-src="{{livro.Capa}}" width="110px" class="centerImg"  ng-click="exibirLivro(livro)">
                    <div class="infos">
                        <h4>{{livro.Titulo}}</h4>
                    <h5>{{livro.NomeAutor}}</h5>
                    <button  class="btn btn-link" type="submit" ng-click="exibirLivro(livro)">Ver mais...</button>
                    </div>
            </div>
        </div>        
    </div>
    <br> <hr>
    <h2>Biblioteca</h2>
    <div class="outrosLivros row">
        <div class="pull-left col-md-3 border" ng-repeat="livro in livros">
             <img ng-src="{{livro.Capa}}" alt="" width="110px" class="centerImg" ng-click="exibirLivro(livro)" >
              <div class="infos">
                        <h4>{{livro.Titulo}}</h4>
                    <h5>{{livro.NomeAutor}}</h5>
                    <button  class="btn btn-link" type="submit" ng-click="exibirLivro(livro)">Ver mais...</button>
            </div>
        </div>
    </div>
      <ul class="pagination">
    <li><a href="" ng-repeat="pagina in paginas" ng-click="CarregarPagina(pagina.indice)">{{pagina.indice}}</a></li>
</ul>
</div>
</div> 
    