<div class="login">
   <div class="row">
      <div class="col-md-3">
         <div class="form-login">
            <h4>Bem vindo!</h4>
            <input id="userName" class="form-control input-sm chat-input" ng-model="usuario.email" type="email" placeholder="username" />
            </br>
            <input id="userPassword" class="form-control input-sm chat-input" ng-model="usuario.senha" type="password" placeholder="URL da sua foto" />
            </br>
            <div class="wrapper">
               <button type="submit" class="btn btn-primary btn-md" ng-click="login(usuario)">Login</button>
            </div>
         </div>
      </div>
   </div>
</div>