*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-image: url("back.png");
}
.container{
    margin-top: 30px;
}

.clearfix{
  content: "";
  clear: both;
}

.header{
  font-size: 26px;
  text-align: center;
  font-weight: 900;
  color : white;
  background-color: rgba(194, 148, 139, 1);
  padding: 23px;
}

.lancamentos{
    padding-top: 30px;
    background-color: rgba(194, 148, 139, 0.1);
}

.centerImg{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px antiquewhite;   
}
.border{
    width: 10%;
    height: 100%;
}
.infos {
    text-align: center;
}
.outrosLivros{
    padding-top: 30px;
    background-color: rgba(194, 148, 139, 0.1);
}

.livroDetalhe{
    padding-left: 20%;
}

.detalhadas{
    width: 60%;
    height: 60%;
}

.detalhadas h2{
    font-size: 20px;
    
}

.login{
    margin-left: 300px;
    margin-top: 50px;
    
}
 .form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    width: 100%;
}

login h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

login .form-control {
    border-radius: 10px;
}

login .wrapper {
    text-align: center;
}

