<div class="container">
    <label  id="aulas" class="tituloEdicao">Aulas</label>
<form novalidate name="meuForm" ng-submit="incluir()" class="form-style-5 partAula">
  <div class="row">
    <div class="form-group col-md-10">
      <label for="nome">Adicione uma aula</label>
      <input type="text" name="nome" ng-model="novaAula.nome" required ng-minlength="3" ng-maxlength="20" placeholder="Banco de Dados">
      <span ng-show="mostrarAvisoAula">Aula já cadastrada!</span>
      <span  ng-show="meuForm.nome.$error.minlength">Nome curto! </span>
      <span  ng-show="meuForm.nome.$error.maxlength">Nome muito longo!!</span>
      <span ng-show="meuForm.nome.$error.required"> * </span>
    </div>
      <button class="btn btn-success" type="submit">Adicionar</button>

  </div>
</form>
<br><hr>

<table class="table table-striped table-bordered table-hover table-condensed tabela">
  <thead class="tabelaTitulo">
      <tr>
          <th>Aula</th>
          <th>Id</th>
          <th>Editar</th>
          <th>Excluir</th>
      </tr>
  </thead>
  <tbody class="tabelaCorpo">
      <tr ng-repeat="aula in aulas | orderBy: 'id'">
          <td>{{aula.nome}}</td>
          <td>{{aula.id}}</td>
          <td><button type="submit" name="button2" ng-click="clicouParaEditarAula(aula)"  class="btn btn-info">Editar</button></td>
          <td> <button type="submit" name="button" ng-click="excluirAula(aula)"  class="btn btn-danger">Excluir</button></td>
      </tr>
  </tbody>
</table><br><hr>
<div class="" ng-show="querEditar">
    <form novalidate name="formEditarAula" ng-submit="editarAula()" class="form-style-5 partAula">
      <input type="text" name="nomeEditado" ng-model="aulaEditada.nome" class="editarAula">
      <br>
  <button type="submit" class="btn btn-info"> Editar </button>
</form>
<br><hr>
</div>
</div>


